/* Apply a natural box layout model to all elements */

*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
 }


/*Main element styles*/

body {
	box-shadow: inset 0 0 0 rgba(0,0,0,0.4);
  	line-height: 1.6;
	background-color: #D9D2CA;
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	color: #666;
}

p, ul, input, textarea {
	font-size: 15px;
	padding: 10px 0px;
	margin: 0px;
	list-style-type: square;
	font-weight: lighter;
}

span {
	font-weight: bold;
}

ul {
	padding: 0px 0px 0px 20px;
}	

h1 {
	letter-spacing: -0.5px;
	font-size: 50px;
	margin: 0px;
}

h2 {
	letter-spacing: -0.5px;
	font-size: 30px;
	
}

h3 {
	font-size: 24px;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: #666
}

iframe {
	margin-bottom: 20px;
}


/*Hover effects*/

a:hover , input[type="submit"]:hover{
	-webkit-transition: box-shadow 0.4s ease-in-out, border-top 0.4 ease-in-out, background-color 0.4 ease-in-out, color 0.4 ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out, border-top 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out, border-top 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out, border-top 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}


/*________________________*/

/*General classes*/

/*Set div width*/

.container {
	width: 1080px;
	margin: 0px auto;
	height: auto;
	display: block;
	clear: both;
}

.three-quarter-width {
	width: 810px;
	float: left;
}

.two-third-width {
	width: 720px;
	float: left;
}

.half-width {
	width: 540px;
	float: left;
}

.third-width {
	width: 360px;
	float: left;
}

.quarter-width {
	width: 270px;
	float: left;
}

.sixth-width {
	width: 180px;
	float: left;
}


/*Set box and text color*/

.blue {
	background-color: #53D0F9;
}

.blue-text {
	color: #53D0F9;
}

.yellow {
	background-color: #FFCB4E;
}

.yellow-text {
	color: #FFCB4E;
}

.red {
	background-color: #FF6A4E;
}

.red-text {
	color: #FF6A4E;
}

.grey {
	background-color: #666;
}

.grey-text {
	color: #666;
}

.beige {
	background-color: #D9D2CA;
}

.beige-text {
	color: #D9D2CA;
}


/*Reverse text out of dark background*/

.reversed {
	color: #EFEBE6;
	text-shadow: 0px 0px 150px #aaa;
}

.underline {
	text-decoration: underline;
}


/*Drop an element*/

.bottom {
	position: absolute;
	bottom: 50px;
}


/*Make a button*/

.button {
	width: auto;
	height: 50px;
	display: inline-block;
	padding: 10px 20px;
  	font-size: 17px;
  	color: #fff;
  	border-radius: 5px;
  	text-transform: uppercase;
  	box-shadow: 0px 0px 25px #bbb;
  	line-height: 30px;
}

.button:hover {
	background-color: #999;
}


a:hover.home-nav  {
	border-top: 8px solid #53D0F9;
}

a:hover.features-nav {
	border-top: 8px solid #FFCB4E;
}

a:hover.get-started-nav {
	border-top: 8px solid #FF6A4E;
}


/*________________________*/

/*Specific ids*/

/*Navigation*/

#nav {
	width: 100%;
	height: 120px;
	box-shadow: 0px 0px 25px #A0978D;
	background-color: #EFEBE6;
	position: fixed;
	z-index: 10;
}

#logo {
	width: 270px;
	height: 80px;
	position: absolute;
	left: 50px;
	padding: 15px;
}

#logo p {
	display: inline-block;
	font-size: 35px;
	padding: 5px;
	line-height: 33px;
	vertical-align: top;
	margin-top: 5px;
	text-shadow: 0px 0px 25px #ccc;

}

#page-links {
	width: 720px;
	margin: 0px auto;
}

#page-links a {
	width: 130px;
	margin: 0px 50px;
	height: 100px;
	padding-top: 51px;
	float: left;
  	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

.home-nav, .features-nav, .get-started-nav {
	border-top: 8px solid transparent;
}

#action-links {
	padding: 4px 0px;
	text-align: center;
	position: absolute;
	right: 50px;
	display: inline-block;
}


/*Promo section*/

#nav-push {
	height: 120px;
}

#promo-main {
	padding: 100px 50px 0px;
}

#features-main {
	padding: 50px 0px 100px;
}

#promo-left {
	height: 350px;
	position: relative;
	text-align: center;
}

#promo-left img {
	height: 350px;
	top: 80px;
	right: 20%;
	position: absolute;
	right: -80px;
	top:0px;
	z-index:-1;
}

.fa-signal {
	text-align: right;
	font-size: 200px;
	margin-top: 160px;
	margin-left: 70px;
	border-radius: 100%;
}

.round img {
	border-radius: 100%;
}

#data-vis img, #data-vis .round {
	float: left;
	border-radius: 100%;
	height: 200px;
	width: 200px;
}

 a:hover.underline {
	color: #999;
}

#data-vis {
	padding: 60px 0px;
	position: relative;
	background-color: #333;
	width: 100%;
	height: auto;
	overflow: auto;
	clear: both;
	box-shadow: 0px 0px 25px #777;
}

.fa-user {
	float: left;
	margin: 10px 40px 0px 0px;
	font-size: 115px;
}

#chart-1, #chart-2, #chart-3 {
	background-color: #EFEBE6;
	width: 700px;
	margin: 10px 10px 10px 0px;
	padding: 30px 30px 30px 20px;
	border-radius: 5px;
}

#chart-3 {
	width: 340px;
	margin: 10px 10px 80px 10px;
	padding: 30px 30px 42px 30px;
}

.chart-label {
	text-align: center;
}


/*Main content*/

#content {
	width: 100%;
	background-color: #EFEBE6;
	overflow: auto;
	box-shadow: 0px 0px 25px #ccc;
	padding-top: 80px;
}

#content-1, #content-2, #content-3  {
	display: inline-block;
	font-size: 20px;
	margin: 60px 0px;
}

#content-2 {
	padding: 0px 25px;
}

#content-3 img {
	height: 180px;
	display: block;
	margin: 70px auto 10px;
}

#content-1 h2, #content-2 h2, #content-3 h2 {
	text-align: center;
}

a.anchor {
	display: block; 
	position: relative; 
	top: -120px; 
	visibility: hidden;
}

#features {
	padding-top: 10px;
}

#features-summary {
	padding: 70px 60px 60px 0px;
}

#video-section {
	padding-bottom: 50px;
}

#video {
	padding: 40px 40px 100px;
	background-color: #333;
	margin-top: 100px;
	box-shadow: 0px 0px 25px #666;
}


/*Footer section*/

#footer {
	background-color: #333;
	width: 100%;
	padding: 0px 0px 290px;
	overflow: auto;
	position: relative;
	box-shadow: 0px 0px 25px #333;
}

#footer img {
	width: 320px;
	margin: 5px 3px 235px;
}

#faq, #contact {
	padding: 60px 0px 10px;
}


#contact p {
	padding-top: 0px;
}

.form {
	width: 360px;
}

form {
	float: left;
}

input, textarea {
	box-shadow: 0px 0px 25px #777;
	background-color: #EFEBE6;
	border: none;
	padding: 10px;
	margin: 20px 20px 0px 0px;
	color: #666;
	border-radius: 3px;
}

input {
	width: 160px;
	float: left;
	vertical-align: top;
}

textarea {
	width: 340px;
	max-width: 340px;
	clear: both;
	height: 100px;
}

#submit {
	box-shadow: 0px 0px 25px #777;
}

.checkbox input {
    display: none;
}

.checkbox span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #EFEBE6;
    margin: 20px 20px 20px 0px;
    color: transparent;
    border: 2px solid #FFCB4E;
    box-shadow: 0px 0px 25px #777;
    border-radius: 3px;
}

.checkbox input:checked + span {
    color: #666;
	padding-left: 1px;
    line-height: 18px;
}

.form p {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	width: 180px;
}

.details {
	float: left;
	width: 180px;
	margin-top: 20px;
}

#footer i {
	margin: 0px;
	padding: 2px 0px 0px 0px;
	color: #333;
	font-size: 30px;
}

#social-links {
	padding: 15px 10px;
	text-align: center;
	display: inline-block;
}


/*Responsive layouts*/


/* Global nav adjust*/

@media only screen and (max-width: 625px) {

	}


/* Tablet: 768px.*/

@media only screen and (max-width: 991px) {

}


/* Mobile wide: 465px.*/

@media only screen and (max-width: 767px) {

}


/* Mobile: 320px.*/

@media only screen and (max-width: 464px) {

}


